<!-- Start - postagem/index.handlebars -->
<style>

</style>

<div class="postagem box">
	
	<h1>{{postagem.titulo}}</h1>
	
	<p><small>Data da publicação: {{postagem.data}}</small></p>
	<p>{{postagem.conteudo}}</p>
	
</div>
<!-- End - postagem/index.handlebars -->